*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #26bdb8;
}
.slider{
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}
.slides{
  width: 500%;
  height: 500px;
  display: flex;
}
.slides input{
  display: none;
}
.slide{
  width: 20%;
  transition: 2s;
}
.slide img{
  width: 800px;
  height: 500px;
  
}
/*Css for manual navigation*/
.navigation-manual{
position: absolute;
width: 800px;
margin-top: -40px;
display: flex;
justify-content: center;
}
.manual-btn{
  border: 2px solid #15eee7;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

 /* css for automatic navigation */
 .navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
 }
 .navigation-auto div{
  border: 2px solid #0d948f;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;

 }
